<h1 id="listing-articles">Listing Articles</h1>
<div class="p-5 mb-4 bg-light rounded-3" id="home_page">
    <div class="row align-items-center">
        <!-- Left side: Article info -->
        <div class="col-md-6">
            <h1 class="display-4">Browse Articles</h1>
            <p class="lead">create edit or delete articles</p>
        </div>
            </div>


    <div class="container-fluid px-1">
        <div class="d-flex overflow-auto pb-3" style="gap: 1rem;">
            <% @articles.each do |article| %>
                <div class="card flex-shrink-0" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= article.title %></h5>
                        <p class="card-text"><%= truncate(article.description, length: 100) %></p>
                        <div class="d-flex gap-2">
                            <%= link_to 'Show', article_path(article), class: 'btn btn-sm btn-primary' %>
                            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-sm btn-secondary' %>
                            <%= button_to 'Delete', article_path(article), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

        <br>
        <%= link_to 'Create Article', new_article_path, class: 'btn btn-success' %>
</div>