<h1 class = "text-center mb-4">User Profile</h1>


<%= gravatar_for @user ,size: 200 %>
<br>
<p strong class = "text-center ">Name: <%= @user.name %></p>
<p strong class = "text-center ">Email: <%= @user.email %></p>
<br>

<div class="row justify-content-center">
  <div class="col-md-8 text-center">
    <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
    <%= button_to 'Delete Profile', user_path(@user), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger m-2' %>
</div>    
<br>
<div class="container my-3 px-5">
  <%= render "articles/article" %>
  <div class="flickr_pagination mt-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>

